/* Global Styles */
body {
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    background-color: #f9f9f9;
    color: #333;
    margin: 0;
    padding: 0 1rem;
  }
  
  /* Header Styles */
  header {
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
  }
  
  header nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
  }
  
  header nav a:hover {
    text-decoration: underline;
  }
  
  /* Main Content Styles */
  main {
    padding: 20px;
    text-align: center;
  }
  
  /* Image Styles */
  img {
    margin: 20px 0;
    border-radius: 8px;
  }
  
  /* Footer Styles */
  footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
  }
  .big-text {
  font-size: 25px;
  font-weight: bold;
}
